{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container text-center">
   <div class="row">
      <div class="col-8">
         <br>
         <div class="alert alert-light" role="alert">
            <div class="container">
               <div class="row">
                  <div class="col-1">
                     {% if meep.user.profile.profileImage%}
                     <img  src="{{meep.user.profile.profileImage.url}}" class="img-fluid rounded-start" alt="...">
                     {% else %}
                     <img src="{% static 'images/default_profile.jpg' %}" class="img-fluid rounded-start" alt="...">
                     {% endif %}
                  </div>
                  <div class="col-11y">
                     {{meep.body}}<br>
                     <small class="text-muted">
                        {{ meep.createdAt}} By
                        @{{meep.user.username}}
                        <br>
                        {{meep.numberOfLikes}}
                        {% if user in meep.likes.all %}
                        <a href ='{% url 'likeMeep' meep.id %}' ><i class="fa-solid fa-heart" style="color: #dd0808;"></i></a>
                        {% else %}
                        <a href ='{% url 'likeMeep' meep.id %}' ><i class="fa-regular fa-heart" style="color: #dd0808;"></i></a>
                        {% endif %}
                     </small>
                  </div>

               </div>
            </div>
         </div>
         <div>
            {% if form %}
            <form method="POST">
               {% csrf_token %}
               {{form.as_p}}
               <button type="submit" class="btn btn-secondary">Update Meep</button>
            </form>
            {% endif %}
          </div>
      </div>

      {% endblock %}

   </div>
</div>