{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if profile %}
<div class="container text-center">
    <div class="row">
        <div class="col-8">
            <br>
            <h1>{{profile.user.username}}'s Profile</h1>

            {% for meep in meeps %}
   
            <div class="alert alert-light" role="alert">
                <div class="container">
                    <div class = "row">
                        <div class = "col-2">
                            {% if profile.profileImage %}
                            <img  class = "rounded-circle" width = 50 height = 50 src="{{profile.profileImage.url}}" alt="">
                            {% else %}
                            <img  class = "rounded-circle" width = 50 height = 50 src="{% static "images/default_profile.jpg" %}" alt="">
                            {% endif %}
                        </div>
                        <div class = "col-10">
                            {{meep.body}} <br>
                            <small class = "text-muted">
                                {{ meep.createdAt}} By 
                                @{{meep.user.username}}
                                <br>
                                {{meep.numberOfLikes}} 
                                {% if user in meep.likes.all %}
                                    <a href ='{% url 'likeMeep' meep.id %}'><i class="fa-solid fa-heart" style="color: #dd0808;"></i></a>
                                {% else %}
                                    <a href ='{% url 'likeMeep' meep.id %}'><i class="fa-regular fa-heart" style="color: #dd0808;"></i></a>
                                {% endif %}
                                &nbsp;
                                <a href = '{% url 'shareMeep' meep.id %}' > <i class="fa-solid fa-share"></i> </a> 
                             </small>
                        </div>
                    </div>
                </div>   
            </div>
            {% endfor %}

        </div>
        <div class="col-4">
            <br>
            <br>
            {% if profile.profileImage %}
            <img class = "rounded-circle" width = "200px" height = "200px" src = "{{profile.profileImage.url}}">
            {% endif %}
            <br>
            <br>

            {% if profile.homepageLink%}
            <a href = "{{profile.homepageLink}}" target = "new" style = "color: grey"><i class="fa-solid fa-house"></i></a>
            {% endif %}
            &nbsp;

            {% if profile.facebookLink%}
            <a href = "{{profile.facebookLink}}" target = "new" ><i class="fa-brands fa-facebook"></i></a>
            {% endif %}
            &nbsp;

            {% if profile.instagramLink%}
            <a href = "{{profile.instagramLink}}" target = "new" style = "color: red"><i class="fa-brands fa-instagram"></i></a>
            {% endif %}
            &nbsp;

            {% if profile.linkedInLink%}
            <a href = "{{profile.linkedInLink}}" target = "new"><i class="fa-brands fa-linkedin"></i></a>
            {% endif %}


            <br><br>
            {% if profile.profileBio%}
            {{profile.profileBio}}
            {% endif %}
            <br><br>

            <div class="card">
                <div class="card-header">
                    Follows
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {% for following in profile.follows.all %}
                        <a href="{% url 'profile' following.user.id %}"> @{{following}}<br /> </a>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <br><br>
            <div class="card">
                <div class="card-header">
                    Followed By
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {% for following in profile.followed_by.all %}
                        <a href="{% url 'profile' following.user.id %}"> @{{following}}<br /> </a>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <br>

            {% if profile.user.id != user.id %}
            <form action="" method="POST">
                {% csrf_token %}
                {% if profile in user.profile.follows.all %}
                <button class = "btn btn-outline-danger" name = "follow" value="unfollow" type = "submit">Unfollow @{{profile.user.username|lower}}</button>
                {% else %}
                <button class = "btn btn-outline-success" name = "follow" value = "follow" type = "submit" >Follow @{{profile.user.username|lower}}</button>

                {% endif %}
            {% endif %}

            </form>

            {% if user.id == profile.user.id %}
            <a href = "{% url 'update_profile' %}" class = "btn btn-outline-secondary "> Update Profile</a>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% endblock %}