{% extends 'base.html' %}


{% block content %}

<div class = "col-md-6 offset-md-3">
<br>
<h1> Update Profile </h1>
<br>
{% comment %} encoding type needs to be added to allow images or files {% endcomment %}
<form action="{% url 'update_profile' %}" method="POST" enctype = "multipart/form-data">
    {% csrf_token %}
    
    {{userForm.as_p}}
    <br>
    {{profileForm.as_p}}
    <br>
    <button class = "btn btn-primary" type = "submit" >Update Profile</button>
</form>
</div>


{% endblock %}